.container {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.component {
    width: 1000px;
    height: 90%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.component > header {
    padding: 0px 50px;
    width: calc( 100% - 100px );
    height: 150px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.component > header .form-title {
    text-overflow: ellipsis;
    color: gray;
}

.component > header section.summary {
    padding-left: 50px;
    min-width: 300px;    
}

.component > header section.summary .item .key {
    color: slategray;
    font-size: 0.7em;
    width: 50px;
    display: inline-block;
}

.component > header section.summary .item .key {
    font-size: 0.9em;
}

.component > main {
    width: 100%;
    height: calc( 100% - 250px );
}

.component > footer {
    padding: 0px 50px;
    width: calc( 100% - 100px );
    height: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.stepperBackButton {
    color: gray;
}

.stepperBackButtonText {
    padding-right: 20px;
}

.company-form {
    height: 100%;
}

.company-form > main {
    padding: 30px 100px;
    height: calc( 100% - 60px );
}

.company-name-box {
    padding-top: 20px;
}

.tax-form > main, .contact-form > main {
    display: flex;
    flex-direction: column;
}

.almost-done-text {
    color: lightseagreen;
    font-weight: normal;
}

.finish-form .company-name {
    font-size: 1.3em;
}