<div class="container" *ngIf="$.selectedItem">
	<div class="component">
		<main class="item">
			<div> Tax Type: {{ $.selectedItem.type?.name }} </div>
			<div> Scope: {{ $.selectedItem.type?.scope }} </div>
			<div *ngIf="$.selectedItem.rate !== null">
				<span> Rate:&nbsp; </span>
				<span> {{ $.selectedItem.rate }} % </span>
			</div>
			<div *ngIf="$.selectedItem.flatRate !== null">
				<span> Flat Rate:&nbsp; </span>
				<span> ₹ {{ $.selectedItem.flatRate }} </span>
				<span *ngIf="$.selectedItem.perUnits"> &nbsp; per $.selectedItem.perUnits </span>
			</div>
		</main>
	</div>
</div>
