<div class="jam-auth-sign-in">
    <form [formGroup]="formGroup"
        class="jam-auth-sign-in-form floating-box"
        (submit)="submit()">
        <header>
            <div class="jam-auth-sign-in-title"> Sign In </div>
        </header>
        <main>
            <div class="jam-auth-sign-in-credentials-box">
                <div class="jam-auth-sign-in-email-box">
                    <mat-form-field>
                        <input matInput email
                            type="email"
                            placeholder="Email"
                            formControlName="email"/>
                        <mat-error *ngIf="email.errors">
                            {{ email.errors | jamAuthReadableError:'email' }}
                        </mat-error>
                    </mat-form-field>
                </div>
                <div class="jam-auth-sign-in-password-box">
                    <mat-form-field>
                        <input matInput
                            type="password"
                            placeholder="Password"
                            formControlName="password"/>
                        <mat-error *ngIf="password.errors">
                            {{ password.errors | jamAuthReadableError:'password' }}
                        </mat-error>
                    </mat-form-field>
                </div>
            </div>
        </main>
        <footer>
            <div class="jam-auth-sign-in-register-box">
                <a mdButton disableRipple color="primary"
                    (click)="requestRegisterPage()">
                    Register
                </a>
            </div>
            <div class="jam-auth-sign-in-sign-in-box">
                <button mat-raised-button color="primary"
                    type="submit">
                    Sign In
                </button>
            </div>
        </footer>
    </form>
</div>