<app-form-dialog [$]="$" [formGroup]="$.form">

	<div class="row">
		<div class="label"> Supply Type : </div>
			<mat-form-field>
			<mat-select placeholder="Select one" [(value)]="$.formItem.supplyType">
				<mat-option *ngFor="let supplyType of $.supplyTypes" [value]="supplyType">
					{{ supplyType }}
				</mat-option>
			</mat-select>
		</mat-form-field>
	</div>

	<!-- <div class="row">
		<div class="label"> Product : </div>
		<mat-form-field>
			<mat-select placeholder="Choose a product" [(value)]="$.formItem.productKey">
				<mat-option *ngFor="let product of $.productList" [value]="product.key">
					{{ product.name }}
				</mat-option>
			</mat-select>
		</mat-form-field>
	</div> -->

	<div class="row">
		<div class="label"> Units : </div>
		<mat-form-field>
			<input matInput placeholder="Units in number" formControlName="units"/>
		</mat-form-field>
	</div>
	<div class="row">
		<div class="label"> Buying Price : </div>
		<mat-form-field>
			<input matInput placeholder="Buying price" formControlName="buyingPrice"/>
		</mat-form-field>
	</div>
	<div class="row">
		<div class="label"> Selling Price : </div>
		<mat-form-field>
			<input matInput placeholder="Selling Price" formControlName="sellingPrice"/>
		</mat-form-field>
	</div>

	<div class="row">
		<div class="label"> Tax : </div>
		<mat-form-field>
			<mat-select placeholder="Tax" [(value)]="$.formItem.taxGroup" (selectionChange)="taxGroupSelectionChange()">
				<mat-option *ngFor="let taxGroup of $.taxGroupList" [value]="taxGroup">
					{{ taxGroup.name }}
				</mat-option>
			</mat-select>
		</mat-form-field>
	</div>

</app-form-dialog>
