.component {
    width: 70%; max-width: 1500px;
    height: 100%;
    display: flex;
    position: relative;
    background: transparent;
}

.component > header {
    position: absolute;
    top: -20px;
    left: 30px;
    padding: 10px 30px;
    min-width: 160px;
    display: flex;
    align-items: center;
    font-size: 1.2em;
}

.list {
    padding-top: 50px;
    padding-bottom: 20px;
    width: 400px;
    height: calc( 100% - 70px );
    background-color: rgba(247, 250, 255, 0.65);
    font-size: 0.8em;
}

.list-item {
    padding: 10px 30px;
}

.list > main {
    height: calc( 100% - 50px );
}

.list > footer {
    height: 50px;
}

section.detail {
    padding-top: 50px;
    width: 100%;
    height: calc( 100% - 50px);
    background-color: rgba(247, 250, 255, 0.8);
}

section.detail > header {
    padding: 0px 50px;
    display: flex;
    justify-content: center;
    align-items: baseline;
}

section.detail > header > .title {
    flex-grow: 1;
}

section.detail > header > .action > button {
    min-width: auto;
}