.container {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container > main {
    padding: 50px;
    width: 600px;
    height: calc( 90% - 100px );
    display: flex;
    flex-direction: column;

}

.container > main > section {
    padding-top: 50px;
    padding-bottom: 50px;
    display: flex;
    align-items: baseline;
    border-bottom: 1px solid gray;
}

.container > main > section > div {
    width: 100px;
}

section.username {

}

section.password {

}