<div class="jam-tree-list">
	<header>
		<section class="jam-tree-list-back-button">
			<button mat-button disableRipple *ngIf="!isRoot"
				class="compact no-focus"
				(click)="_goBack()">
				<mat-icon class="jam-tree-list-back-button-icon"> keyboard_arrow_left </mat-icon>
				<span class="jam-tree-list-back-button-text"> {{ parentName }} </span>
			</button>
		</section>
		<section class="jam-tree-list-header-template">
			<ng-content select="[header-template]">
			</ng-content>
		</section>
		<section style="width: 60px">
		</section>
	</header>
	<main>
		<jam-list
			[list]="list"
			[selectedItem]="tree.selectedItem"
			[selectedItemBackgroundColor]="selectedItemBackgroundColor"
			[selectedItemForegroundColor]="selectedItemForegroundColor"
			[hoveredItemBackgroundColor]="hoveredItemBackgroundColor"
			[hoveredItemForegroundColor]="hoveredItemForegroundColor"
			(select)="_select( $event )"
			(open)="_open( $event )">
			<ng-template let-item="item">
				<ng-template
					[ngTemplateOutlet]="listItemTemplate"
					[ngTemplateOutletContext]="{ item: item }">
				</ng-template>
			</ng-template>
		</jam-list>
	</main>
</div>