<div class="container">
	<jam-facebook-spinner *ngIf="$.processing"></jam-facebook-spinner>
	<div class="component floating-box" [class.blur]="$.processing">
		<header class="title-box"> {{ $.moduleName }} </header>
		<section class="list">
			<main class="v-scrollable">
				<mat-nav-list>
					<mat-list-item *ngFor="let item of $.list"
						[class.active]="item.key == $.selectedItem?.key"
						(click)="$.select( item )">
						{{ item.name }}
					</mat-list-item>
				</mat-nav-list>
			</main>
			<footer class="flex-center">
				<button mat-raised-button color="primary" class="add-button small" (click)="$.create()"> New {{ $.moduleName }} </button>
			</footer>
		</section>
		<section class="detail">
			<header *ngIf="$.selectedItem">
				<div class="title">
					<div class="item-name">{{ $.selectedItem.name }}</div>
				</div>
				<div class="action">
					<button mat-button color="primary" (click)="$.edit( $.selectedItem )"> <mat-icon> edit </mat-icon> </button>
					<button mat-button color="warn" (click)="$.remove( $.selectedItem.key )"> <mat-icon> delete </mat-icon> </button>
				</div>
			</header>
			<main *ngIf="$.selectedItem">
				<ng-content></ng-content>
			</main>
		</section>
	</div>
</div>