<nav class="menu">
	<div class="item">
		<a mat-raised-button color="primary" (click)="goto('accounts')">
			<mat-icon> account_balance_wallet </mat-icon>
			<span class="text"> Accounts </span>
		</a>
	</div>
	<div class="item">
		<a mat-raised-button color="primary" (click)="goto('vouchers')">
			<mat-icon> receipt </mat-icon>
			<span class="text"> Vouchers </span>
		</a>
	</div>
	<div class="item">
		<a mat-raised-button color="primary" (click)="goto('inventory')">
			<mat-icon> list </mat-icon>
			<span class="text"> Inventory </span>
		</a>
	</div>
	<div class="item">
		<a mat-raised-button color="primary" (click)="goto('companies')">
			<mat-icon> list </mat-icon>
			<span class="text"> Companies </span>
		</a>
	</div>
	<div class="item">
		<a mat-raised-button color="primary" (click)="goto('sign-in')">
			<mat-icon> account_box </mat-icon>
			<span class="text"> Sign In </span>
		</a>
	</div>
</nav>