.label {
	width:140px;
}

.row {
	display: flex;
	align-items: center;
}

.no-underline ::ng-deep .mat-select-value-text {
	padding-left:15px;
}

.no-underline ::ng-deep .mat-select-arrow {
	margin-right:15px;
}
