<div class="container">
	
	<header>
		<section class="company">
			<a mdButton (click)="goto( 'home' )">
				<mat-icon class="home-icon">
					home
				</mat-icon>
			</a>
		</section>
		<nav class="menu">
			<jam-xbox-menu
				[menu]="navigator.menu"
				(select)="select( $event )">
			</jam-xbox-menu>
		</nav>
		<section class="user">
			<div class="user-buttton">
				<a mdButton
					(click)="goto( 'user' )">
					<mat-icon *ngIf="auth?.authenticated"
						class="user-icon">
						account_circle
					</mat-icon>
					<span *ngIf="!(auth?.authenticated)"
						class="user-text">
						SIGN IN
					</span>
				</a>
			</div>
		</section>
	</header>

	<main>
		<router-outlet>
		</router-outlet>
	</main>

</div>