<div class="container">
	<jam-bounce-spinner *ngIf="$.adding || $.modifying"></jam-bounce-spinner>
	<form [formGroup]="$.form" novalidate
		class="form"
		(ngSubmit)="$.submit()"
		[class.blur]="$.adding || $.modifying">

		<h2 mat-dialog-title> {{ $.creating ? 'New Item' : 'Edit Item' }} </h2>

		<mat-dialog-content>
			<div><mat-form-field class="name">
				<input matInput placeholder="Name" formControlName="name"/>
			</mat-form-field></div>
		</mat-dialog-content>

		<mat-dialog-actions>
			<div class="left">
				<button mat-button type="button"
					class="reset-button no-animation"
					(click)="$.form.reset()"> RESET
				</button>
			</div>
			<div class="right">
				<button mat-button type="button"
					class="cancel-button no-animation"
					(click)="$.cancel()"> CANCEL
				</button>
				<button mat-raised-button color="primary" type="submit"
					class="save-button"
					[disabled]="!$.form.valid"> SAVE
				</button>
			</div>
		</mat-dialog-actions>

	</form>
</div>