.component {
    width: 70%;
    max-width: 1500px;
	display: flex;
	background: transparent;
}

.component > form {
	width: 100%;
	height: 100%;
}

form > main {
	border-radius: 5px;
	background-color: rgba( 240, 255, 255, 0.5 );
	background-image: linear-gradient(to top, #e6e9f0 0%, #eef1f5 100%);
	background: #F6F7FC;
}

.invoice-header-section {
	height: 75px;
	padding: 20px 50px;
}

.invoice-header-box {
    padding: 20px 50px;
	display: flex;
}

.invoice-header-left-box {
	flex-grow: 1;
}

.invoice-header-right-box {
	width: 300px;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.invoice-number-box {
	padding: 10px 20px;
	/* background-color: rgba( 255, 255, 255, 1 ); */
	background-color: white;
}

.invoice-number-box > .label {
	font-style: italic;
	color: gray;
	padding-right: 6px;
}

.gstin {
	color: gray;
}

.invoice-line-section {
	padding: 20px 60px;
	height: calc( 100% - 155px )
}

.invoice-line-section .table-container {
	height: 100%;
}

.invoice-line-section .table-container .mat-table {
	background: transparent;
}


.invoice-line-section .table-container .mat-table ::ng-deep .mat-header-row {
	position: sticky;
	top: 0;
	margin-bottom: 5px;
	min-height: 40px;
	background: cornflowerblue;
}

.invoice-line-section .table-container .mat-table ::ng-deep .mat-header-cell {
	color: white;
}

.invoice-line-section .table-container .mat-table ::ng-deep .mat-row {
	margin-top: 2px;
	min-height: 30px;
	background-color: white;
}

.invoice-footer-section {
	padding: 20px 0px;
	display: none;
}

.sno-column {
	flex: unset;
	width: 50px;
}

.remove-line-item {
	color: #db70937a;
}

.total-line {
	height: 30px;
	display: flex;
	justify-content: flex-end;
	align-items: center;
	padding: 0px 50px;
}

/* .total-line > .label {
	flex: 200px 0.5 0;
} */

.total-line > .label {
	flex: 2;
}

/* .total-line > .value {
	width: 100px;
} */

.total-line > .value {
	flex: 1;
}

.fill-empty-space {
	flex: 1 1 auto;
}

.total-box {
	margin-right: 100px;
	width: 350px;
	border-radius: 3px;
}

.total-line {
	display: flex;
	padding: 8px 30px;
	font-size: 13px;
	margin-top: 2px;
	background: rgba( 255, 255, 255, 0.5 );
}

.total-line-dim {
	color: grey;
	font-style: italic
}

.total-line.total {
	font-weight: bold;
	background: slategray;
	border-bottom-right-radius: 3px;
	color: white;
	box-shadow: inset 0px -1px 1px 0px rgba(0, 0, 0, 0.23);
}
