.container {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
}

.account-form {
    width: 100%;
    height: 100%;
}

.account-form > main {
    padding: 50px 100px;
    height: calc(100% - 337px);    
}

.account-form > footer {
    padding: 20px;
    display: flex;
    justify-content: center;
    align-content: flex-end;
}

.reset-button, .cancel-button {
    color: royalblue;
}

.account-form > footer > .left {
    flex-grow: 1;
}
