<div class="jam-explorer">

	<section class="jam-explorer-list">

		<header *ngIf="title">
			{{ title }}
		</header>

		<main>
			<ng-content class="jam-explorer-list-template" select="[jam-explorer-list-template]">
			</ng-content>
		</main>

		<footer>
			<button mat-raised-button color="primary"
				*ngIf="newItemText"
				(click)="_newItem()">
				{{ newItemText }}
			</button>
		</footer>

	</section>

	<section class="jam-explorer-item">

		<header>
			<section class="jam-explorer-item-title-container">
				<div class="jam-explorer-item-title"> {{ itemTitle }} </div>
				<div class="jam-explorer-item-subtitle">
					<ng-content select="[jam-explorer-item-subtitle-template]">
					</ng-content>
				</div>
			</section>
			<section class="jam-explorer-item-action-buttons">
				<a mdButton
					class="jam-explorer-item-edit-button"
					(click)="_edit()">
					<mat-icon> edit </mat-icon>
				</a>
			</section>
		</header>

		<main>
			<ng-content select="[jam-explorer-item-template]">
			</ng-content>
		</main>

	</section>

</div>