<div class="container">
	<main>
		<jam-list
			class="jam-list"
			[list]="list"
			[selectedItem]="selectedItem"
			direction="horizontal"
			itemGap="100"
			showAddButton="true"
			(create)="create()"
			(select)="select( $event )">
			<div new-button-template
				class="new-button list-item floating-box">
				<mat-icon class="new-button-icon"> add_circle </mat-icon>
			</div>
			<ng-template let-item="item">
				<div class="list-item floating-box">
					<div class="name"> {{ item }} </div>
				</div>
			</ng-template>
		</jam-list>
	</main>
</div>