@import '~https://fonts.googleapis.com/icon?family=Material+Icons';
@import '~@angular/material/prebuilt-themes/royalblue-deeppurple.css';
@import "~primeng/resources/themes/omega/theme.css";

html {
    width: 100%;
    height: 100%;
}

body {
    margin: 0px;
    width: 100%;
    height: 100%;
    overflow: scroll;
    font-family: Roboto;
    /* background-color: rgb(238, 241, 247); */
    background-color: rgb(182, 186, 198);
}

@keyframes blink {
    0% { transform: scale(1); opacity: 0.5; }
    50% { transform: scale(1.2); opacity: 1; }
    100% { transform: scale(1); opacity: 0.5; }
}

.app-loading {
    position: absolute;
    top: 45%;
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.app-loading > span {
    color: lightslategray;
    animation-name: blink;
    animation-timing-function: ease-in;
    animation-duration: 1.5s;
    animation-iteration-count: infinite;
}

/* Generic Visual Styles */

::-webkit-scrollbar {
    /* display: none; */
}

a {
    cursor: pointer;
}

ul {
    margin: 0px;
    padding: 0px;
    list-style-type:none;
}

li {
    list-style: none;
}

h1.normal, h2.normal, h3.normal, h4.normal, h5.normal, h6.normal {
    font-weight: normal;
}

/* New Styles */

.floating-box {
    background-color: rgba(247, 250, 255, 0.8);
    border-radius: 5px;
    box-shadow: 6px 6px 80px 0px rgba(0, 0, 0, 0.1) !important;
}

.scrollable {
    overflow-x: auto;
    overflow-y: auto;
    -ms-overflow-style: none;
    overflow: -moz-scrollbars-none;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
}

.v-scrollable {
    overflow-x: hidden;
    overflow-y: auto;
    -ms-overflow-style: none;
    overflow: -moz-scrollbars-none;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
}

.h-scrollable {
    overflow-x: auto;
    overflow-y: hidden;
    -ms-overflow-style: none;
    overflow: -moz-scrollbars-none;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
}

.disable-text-selection {
    user-select: none;
}

ul.horizontal {
    display: flex;
    flex-wrap: nowrap;
    overflow-x: auto;
    -webkit-overflow-scrolling: touch;
    -ms-overflow-style: -ms-autohiding-scrollbar;
}

ul.horizontal li {
    margin-left: 40px;
    flex: 0 0 auto;
}

ul.horizontal li:first-child {
    margin-left: 0px !important;
}

/*

        Material make over

*/

.mat-button.compact {
    padding: 0px !important;
    min-width: auto !important;
    line-height: unset !important;
}

button:hover {
    transform: scale( 0.95 );
    transition: all 500ms ease-in-out;
}

.pop-out:hover {
    transform: scale( 2 );
    transition: all 200ms ease-in-out;
}

mat-icon.large {
    width: 32px;
    height: 40px;
    font-size: 40px;
}

.no-focus /deep/ .mat-button-focus-overlay {
    display: none;
}

.mat-form-field.large {
    width: 350px;
    font-size: 1.3em;
}

.mat-form-field.small {
    width: 150px;
    font-size: 0.8em;
}

.mat-step-label.mat-step-label-active {
    color: black !important;
}

mat-horizontal-stepper, mat-stepper-vertical {
    width: 100%;
    height: 100%;
    background-color: transparent !important;
}

mat-horizontal-stepper /deep/ .mat-horizontal-stepper-header-container {
    justify-content: space-around;
    background: rgba(199, 199, 199, 0.2);
}

mat-horizontal-stepper /deep/ .mat-step-header {
    height: 38px;
    flex: 1 1 0;
    justify-content: center;
    transition: all 200ms linear;
}

mat-horizontal-stepper /deep/ .mat-step-header[aria-selected="true"] {
    background-color: slategray;
    border-radius: 3px;
    box-shadow: 6px 6px 20px 0px rgba(0, 0, 0, 0.15) !important;
    transform: scale(1.2);
}

mat-horizontal-stepper /deep/ .mat-step-label.mat-step-label-active.mat-step-label-selected {
    color: white !important;
}

mat-horizontal-stepper /deep/ .mat-horizontal-stepper-header .mat-step-icon,
mat-horizontal-stepper /deep/ .mat-horizontal-stepper-header .mat-step-icon-not-touched,
mat-horizontal-stepper /deep/ .mat-stepper-horizontal-line {
    display: none;
}

mat-horizontal-stepper /deep/ .mat-horizontal-content-container {
    padding: 0px;
    width: 100%;
    height: calc( 100% - 38px );
}

mat-horizontal-stepper /deep/ .mat-horizontal-stepper-content[aria-expanded="true"] {
    width: 100%;
    height: 100%;
}

mat-list-item.active {
    background-color: rgba(0, 0, 0, 0.1);
}

mat-list-item .mat-list-item-content {
    padding: 0px 32px;
}

/*
    PrimeNg Makeover
*/

p-tree .ui-widget-content {
    border: 0px;
    background: transparent !important;
}

/*
    Common Styles
*/

.container {
	width: 100%;
	height: 100%;
	display: flex;
	justify-content: center;
    align-items: center;
}

.blur {
    filter: blur( 10px );
}

.title-box {
    background-color: slategrey;
    color: white;
    border-radius: 3px;
    box-shadow: 6px 6px 80px 0px rgba(0, 0, 0, 0.1) !important;
}

div.title {
    font-weight: bold;
}

button.small {
    font-size: 11px;
    line-height: 28px;
    padding: 0px 10px;
}

mat-icon.small {
    width: 16px;
    height: 16px;
    font-size: 16px;
}

.flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
}