.container {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;    
}

.container > main {
    position: relative;
    margin-top: -100px;
    width: 100%;
    height: 30%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: royalblue;
}

.tag-line {
    font-family: 'Nosifer';
    font-size: 2em;
    color: white;
}

.tag-img {
    position: absolute;
    top: -100px;
    right: 5%;
}