.container {
    width: 100%;
    height: 100%;
}

.component {
    width: 100%;
    height: 100%;
}

.component > header {
    padding: 0px 50px;
    height: 150px;
    display: flex;
    justify-content: center;
}

section.title {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

section.action {
    width: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.item-name {
    font-size: 1.5em;
}

.item-path {
    display: flex;
    align-items: center;
}

.item-path .path-item {
    display: flex;
    align-items: center;
    color: royalblue;
    font-size: 0.8em;
}

.item-path .path-item a {
    cursor: pointer;
}

.item-path .path-item .icon {
    color: royalblue;
}

.item-path .path-item:last-child .icon {
    display: none;
}

.item {
    padding: 20px 50px;
    padding-top: 0px;
    height: calc( 100% - 170px );
}

.item .description {
    padding-bottom: 20px;
    text-align: justify;
}

.item .label {
    font-weight: bold;
}