<div class="container">
	<div class="component">

		<header>
			<section class="title">
				<div class="item-name">{{ item?.name }}</div>
				<div class="item-path">
					<div *ngFor="let pathItem of ( path$ | async )"
						class="path-item">
						<a mat-button
							(click)="select( pathItem )">
							<span class="text"> {{ pathItem.name }} </span>
						</a>
						<mat-icon class="icon"> keyboard_arrow_right </mat-icon>
					</div>
				</div>
			</section>
			<section class="action">
				<button mat-button color="primary"
					class="compact no-focus"
					(click)="edit()">
					<mat-icon> edit </mat-icon>
				</button>
			</section>
		</header>

		<main class="item">

		</main>

	</div>
</div>