<div class="container">
	<jam-bounce-spinner *ngIf="loading"></jam-bounce-spinner>
	<div class="component floating-box" [class.blur]="loading">
		<section class="account-tree-container">
			<header> Accounts </header>
			<nav class="account-tree scrollable">
				<jam-tree *ngFor="let account of tree?.generation( 1 )"
					displayTextProperty="name"
					[tree]="tree"
					[node]="account"
					[selectedNode]="selectedItem"
					(selectNode)="select( $event )">
				</jam-tree>
			</nav>
			<footer>
				<button mat-raised-button
					color="primary"
					(click)="newItem()">
					New Account
				</button>
			</footer>
		</section>
		<section class="account">
			<router-outlet></router-outlet>
		</section>
	</div>
</div>