.container {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.jam-auth-register-form {
    width: 500px;
    height: 500px;
    display: flex;
    flex-direction: column;
}

.jam-auth-register-form > header {
    padding-left: 50px;
    height: 120px;
    display: flex;
    align-items: center;
}

.jam-auth-register-title {
    color: royalblue;
    font-size: 1.5em;
}

.jam-auth-register-form > main {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.jam-auth-register-credentials-box {
    width: 100%;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.jam-auth-register-password-box {
    padding-top: 20px;
}

.jam-auth-register-confirm-password-box {
    padding-top: 20px;
}

.jam-auth-register-form > footer {
    padding: 0px 50px;
    height: 100px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.jam-auth-register-register-box {
    display: flex;
    flex-direction: column;    
}