<div class="jam-auth-register">
    <form [formGroup]="formGroup"
        class="jam-auth-register-form floating-box"
        (submit)="_submit()">
        <header>
            <div class="jam-auth-register-title"> Register </div>
        </header>
        <main>
            <div class="jam-auth-register-credentials-box">
                <div><mat-form-field><input matInput email
                    type="email"
                    placeholder="Email"
                    formControlName="email"/>
                    <mat-error *ngIf="email.errors">
                        {{ email.errors | jamAuthReadableError:'email' }}
                    </mat-error>
                </mat-form-field></div>
                <div class="jam-auth-register-password-box"><mat-form-field><input matInput
                    type="password"
                    placeholder="Password"
                    formControlName="password"/>
                    <mat-error *ngIf="password.errors">
                        {{ password.errors | jamAuthReadableError:'password' }}
                    </mat-error>
                </mat-form-field></div>
                <div class="jam-auth-register-confirm-password-box"><mat-form-field><input matInput
                    type="password"
                    placeholder="Confirm Password"
                    formControlName="confirmPassword"/>
                    <mat-error *ngIf="confirmPassword.errors">
                        {{ confirmPassword.errors | jamAuthReadableError:'password' }}
                    </mat-error>
                </mat-form-field></div>
            </div>
        </main>
        <footer>
            <div class="jam-auth-register-register-box">
                <button mat-raised-button color="primary"
                    type="submit">
                    Register
                </button>
            </div>
        </footer>
    </form>
</div>