<div class="container">
    <jam-auth-register>
    </jam-auth-register>
</div>

<!-- <div class="container">
    <form [formGroup]="formGroup"
        class="auth-form floating-box"
        (submit)="submit()">
        <header>
            <div class="title"> Register </div>
        </header>
        <main>
            <div class="credentials-box">
                <div><mat-form-field><input matInput email
                    type="email"
                    placeholder="Email"
                    formControlName="email"/>
                    <mat-error *ngIf="email.errors">
                        {{ email.errors | selectFormError:'email' }}
                    </mat-error>
                </mat-form-field></div>
                <div class="password-box"><mat-form-field><input matInput
                    type="password"
                    placeholder="Password"
                    formControlName="password"/>
                    <mat-error *ngIf="password.errors">
                        {{ password.errors | selectFormError:'password' }}
                    </mat-error>
                </mat-form-field></div>
                <div class="confirm-password-box"><mat-form-field><input matInput
                    type="password"
                    placeholder="Confirm Password"
                    formControlName="confirmPassword"/>
                    <mat-error *ngIf="confirmPassword.errors">
                        {{ confirmPassword.errors | selectFormError:'password' }}
                    </mat-error>
                </mat-form-field></div>
            </div>
        </main>
        <footer>
            <div class="left">
            </div>
            <div class="right">
                <button mat-raised-button color="primary"
                    type="submit">
                    Register
                </button>
            </div>
        </footer>
    </form>
</div> -->