<div class="jam-list jam-list-scrollable">
	<div *ngFor="let item of list"
		class="jam-list-item plain"
		(click)="_select(item)"
		(dblclick)="_open(item)"
		(mouseenter)="_hoveredItem = item"
		(mouseleave)="_hoveredItem = null"
		[@listItemAnimation]="listItemState"
		[style.backgroundColor]="_backgroundColor( item )"
		>
		<ng-template
			[ngTemplateOutlet]="listItemTemplate"
			[ngOutletContext]="{ 
				item: item, 
				hoveredItem: _hoveredItem, 
				selectedItem: selectedItem
			}">
		</ng-template>
	</div>
</div>